[Unit]
Description=Remote Login Facilities Activation Socket
IgnoreOnIsolate=true

[Socket]
ListenStream=513
Accept=true

[Install]
WantedBy=sockets.target
